{
  "semi": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "svelteAllowShorthand": true,
  "svelteBracketNewLine": false,
  "printWidth": 80,
  "plugins": ["prettier-plugin-svelte"]
}
